@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Source Code Pro", monospace;
  }
  
  h2 {
    color: #66BFBF;
    font-family: "Fira Sans", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    line-height: 2;
    font-family: "Fira Sans", sans-serif;
  }
  
  .hr-line {
    border: dotted black 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  
  a{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #EAF6F6;
  }
  
  .top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
  }

  .mb-pic{
     border-radius: 50%;
     border: 2px solid black;
     height: 200px;
     width: 200px;
  }
  
  .middle-container {
    margin: 100px 0;
  }
  
  .bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }
  

  .computer-pic{
    border-radius: 50%;
    border: 2px solid black;
    height: 200px;
    width: 200px;
 }

 .skills{
     width: 500px;
     margin: 60px auto;
 }

 .skills li{
    margin: 20px 0;
 }

 li{
     list-style: none;
 }

 .bar{
     display: block;
     height: 2px;
     border: 1px solid rgba(0,0,0,0.3);
     border-radius: 3px;
     overflow: hidden;
     box-shadow: 0 0 10px #2187e7b3;
 }

 .bar span{
     height: 2px;
     float: left;
     background: #2187e7;
 }

.html{
    width: 70%;
    animation: html 2s;
}
.css{
    width: 65%;
    animation: css 2s;
}
.bootstrap{
    width: 60%;
    animation: bootstrap 2s;
}
.js{
    width: 50%;
    animation: js 2s;
}
  
  
  .intro {
    width: 30%;
    margin: auto;
  }
  
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }

  .contact-me{
      color: white;
  }
  
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
  
  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .projects{
    width: 50%;
    margin: auto;
  }

  .project-pic{
    border-radius: 50%;
    border: 2px solid black;
    height: 200px;
    width: 200px;
  }

  .btn1{
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
  }

  .btn1:hover{
    background-color: #66BFBF;
  }

  .list1{
    margin: 50px auto;
  }

  hr{
    border: thin solid black;
  }

  
  @keyframes html{
      0%{
          width: 0%;
      }
      100%{
          width: 70%;
      }
  }
  @keyframes css{
      0%{
          width: 0%;
      }
      100%{
          width: 65%;
      }
  }
  @keyframes bootstrap{
      0%{
          width: 0%;
      }
      100%{
          width: 60%;
      }
  }
  @keyframes js{
      0%{
          width: 0%;
      }
      100%{
          width: 50%;
      }
  }

